security.user.password=password
springfox.documentation.swagger.v2.path=/api-docs
basePath=/rest
debug=true

brokerUrl=https://localhost:8090

keyLocation=C:\\JSONPulseRsaJoseJWebKeyTest.txt
jwtAllowedClockSkew=30
jwtIssuer=CALEMSA
jwtAudience=CALEMSA
jwtExpirationTimeMinutesInTheFuture=30
jwtNotBeforeMinutesInThePast=4
server.port=9090

#JWT expires 10AM 7/21/16
#eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJDQUxFTVNBIiwiYXVkIjoiQ0FMRU1TQSIsImV4cCI6MTQ2OTEwOTg2MSwianRpIjoiZV9WajBqSzJnbHdDdmV4aG1FTWh6dyIsImlhdCI6MTQ2ODUwNTA2MSwibmJmIjoxNDY4NTA0ODIxLCJzdWIiOiJfNzNjZjhjMmM2MjI5NjljMDhiZjk0Njg3ZTRhOGQ2M2IiLCJBdXRob3JpdGllcyI6WyJST0xFX1VTRVIiXSwiSWRlbnRpdHkiOlsiTWUgTXlzZWxmIiwiQW5kIEkiLCJteXNlbGZAdGVzdHNoaWIub3JnIl19.DeLQBvcraXqXbzUDX9LMNZPqCLkIoUFwECiNs-pKFu0WQquW8acBiK6A0bS0Em464SI5v_PwwYSJ6lePzlI2kttl5njVr8m__W20WEK9n-eCyYUdnjz6EmLEBu0emsAcpZzZhiqvzZNluxd_OW4FUYA1fawIw00QAKOs27siqnDjkDJGbgq8dWOJEX2Wvsu1v8K_v97lOiw0FNY2mePTgERIRmptufngEcib1TUh9SStDDVp3OGzybXdjMVNwY4gsqVRNrRANBEu7alny-FQOkMwxxcV_QwXveQTjBxbWXkVaIk3cSIQB-M3LXIdoawdnKfS5wi5BBEOs7q0kgWssw