security.user.password=password
springfox.documentation.swagger.v2.path=/api-docs
basePath=/rest
debug=true

brokerUrl=https://localhost:8090

keyLocation=C:\\JSONPulseRsaJoseJWebKeyTest.txt
jwtAllowedClockSkew=30
jwtIssuer=CALEMSA
jwtAudience=CALEMSA
jwtExpirationTimeMinutesInTheFuture=30
jwtNotBeforeMinutesInThePast=4
server.port=9090
